*, html, body {
    box-sizing: border-box; /*la caja del style que muestra margin, padding, border, content....*/
    margin:  0px; /*Para evitar margin por defecto*/
    padding: 0px; /*Para evitar padding por defecto*/
}

:root {
    --grey-default: #6B708D;
    --blue-default: #072AC8;
    --dark-default: #292E47;
}

a:-webkit-any-link{
    color: var(--grey-default);
    text-decoration: none;
}

nav > ul > li:first-child > a {
    color: var(--blue-default);
}

body {
    background-color: #f2f4fc; /*Color de fondo de la pagina web, body es el elemento mas grande de la pagina*/
}

header {
    display: flex;
    text-align: center;
    margin: 30px 120px;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0px 4px 3.5px rgba(0, 0, 0, 0.2);
}

header img[src="../sources/logos/circle.svg"] {
    filter: drop-shadow(0px 5px 3.5px rgba(0, 0, 0, 0.2));
}

nav ul li {
    display: inline-block;
    margin-right: 60px;
}

button {
    background-color: blue;
    border-color: blue;
    color: white;
    padding: 10px;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 120px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-left {
    width: 45%;
    max-height: 100%;
    font-weight: 480;
}

a:-webkit-any-link {
    font-weight: 600;
    margin-left: 25px;
}

.hero-text-1 {
    font-weight: bold;
    color:var(--dark-default);
    font-size: 35px;
}

.hero-text-2 {
    color: var(--grey-default);
    font-size: 16px;
    margin: 25px 0px;
}

.hero-right {
    position: relative;
    overflow: hidden; /*para evitar que las imágenes sobresalgan del contenedor*/
    width: 55%;
    max-height: 100%;
}

.hero-image {
    width: 100%;
}

.hero-card-1 {
    position: absolute;
    width: 64%;
    height: auto;
    top: -2%;
    left: -16%;
}

.hero-card-2 {
    position: absolute;
    width: 61%;
    height: auto;
    bottom: -18.3%;
    right: -13.8%;
}

.logos-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 70px 120px;
}

.logos-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    filter: grayscale(100%);
}


.project-container {
    margin: 70px 120px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.projects-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    max-width: 260px;
    background-color: white;
    margin: 20px 0;
    padding-bottom: 10px;
}

.project-img {
    width: 100%;
    height: 55%;
}

.project-paragraph-1 {
    font-size: 20px;
    margin: 10px 25px;
    font-weight: bold;
}

.project-paragraph-2 {
    font-size: 15px;
    color: var(--grey-default);
    margin: 10px 25px;
    margin-bottom: 40px;
}

a:-webkit-any-link {
    color: var(--blue-default);
    font-weight: 400;
}
